<template>
<div class="mb-2">
    <label v-if="id"
           :for="id">
        {{ name }}:
    </label>
    <b-skeleton-wrapper :loading="is_loading">
        <template v-slot:loading>
            <b-skeleton type="input"></b-skeleton>
        </template>
        <v-select
                :options="component_options"
                :multiple="multiple"
                :id="id"
                class="style-chooser"
                :value="selected"
                label="attr_text"
                @input="handleInput"
                :reduce="item => item.attr_value" >
        </v-select>
    </b-skeleton-wrapper>
</div>
</template>

<script lang="ts">

    import { FilterCustomOptions } from '@/interfaces';
    import {Component, Prop, Watch, Vue } from 'vue-property-decorator';
    import axios from 'axios'

    @Component
    export default class DynamicSelect extends Vue {
        public selected: any = [];
        public component_options: Array<FilterCustomOptions> = [];
        public is_loading: boolean = false;

        @Prop({required: false, type: String, default: ''}) readonly url?: string;
        @Prop({required: true, type: String, default: ''}) readonly id!: string;
        @Prop({required: false, type: String, default: ''}) readonly name?: string;
        @Prop({required: false, type: String, default: ''}) readonly depends_from?: string;
        @Prop({required: false, type: Boolean, default: false}) readonly need_all?: boolean;
        @Prop({required: false, type: Boolean, default: false}) readonly multiple?: boolean;
        @Prop({required: false, type: Object, default: ()=>{}}) readonly update_dependency?: object;
        @Prop({required: false, type: Array, default: ()=>[]}) readonly options?: Array<FilterCustomOptions>;


        @Watch('update_dependency', {
            deep: true
        })
        update_dependencyChanged(newVal: any) {
            if(newVal.ids_arr.includes(this.id)){
                this.getOptions(newVal.val)
            }
        }

        created(){
            // если селект зависим не стартуем автоматически
            if(!this.depends_from && this.url && this.url.length){
                this.getOptions()
            }
            if(this.options && this.options.length){
                this.component_options = this.options;
                this.setSelDefault()
            }
        }

        public getOptions(selected_params: any = null) :void{

           this.is_loading = true;
            let request_params: string = '';
            if(selected_params){
                if(Array.isArray(selected_params)){
                    if(selected_params.length){
                        request_params = '?params[]=' + selected_params.join('&params[]=')
                    }
                    else{
                        request_params = '?params[]=[]'
                    }
                }
                else{
                    request_params =  selected_params
                }
                request_params ='/' + request_params ;
            }

            this.getData(request_params)
        }

        async getData (request_params: string,):  Promise<void>  {
            await axios.get(this.url + request_params)
                .then(res=>{
                    this.component_options = res.data.length ? res.data.filter(item =>item.attr_text !== null &&item.attr_value !== null ) : [];
                    if(this.need_all){
                        this.component_options.unshift({
                            attr_text: 'All',
                            attr_value: null,
                        })
                    }
                    this.setSelDefault()
                })
                .catch(()=>{
                    //  TODO emit error this.$snotify.error( this.$t('Error while loading data') + ' ' + (err && err.response.data.message) ? err.response.data.message : '')
                })
            this.is_loading = false;
        }
        public setSelDefault() : void{
             // Получаем свойство attr_value первого элемента массива options
            let [{attr_value: selected_first = null}] = this.component_options;
            this.selected = (!this.multiple) ?  selected_first : [selected_first];
            this.$emit('change', this.id, this.selected)
        }
        public handleInput(newVal: any) :void{
            if(this.multiple){
                if(this.selected.includes(null)){
                    const index = newVal.indexOf(null);
                    if (index > -1) {
                        newVal.splice(index, 1);
                    }
                }
                else if(newVal.includes(null)){
                    newVal = [null]
                }
            }
            this.$emit('change', this.id, this.selected = newVal)
        }

    }


</script>

