<template>
    <div class="mb-2">
        <label v-if="id"
               :for="id">
            {{ name }}:
        </label>

        <b-form-input
                v-model="selected"
                :id="id"
                @change="$emit('change', id, selected)"
        >
        </b-form-input>
    </div>
</template>

<script lang="ts">
    import {Component, Prop,  Vue } from 'vue-property-decorator';

    @Component
    export default class DynamicInput extends Vue {
        public selected: any = null;

        @Prop({required: false, type: String, default: ''}) readonly name?: string;
        @Prop({required: false, type: String, default: ''}) readonly id?: string;

        created(){
            this.$emit('change', this.id, this.selected)
        }
    }

</script>

<style scoped>

</style>
