<template>
    <div>
        <b-form-checkbox
                :id="id"
                v-b-tooltip.hover title="Group_by"
                v-model="selected"
                switch
                @input="$emit('change', id, selected)"
        ></b-form-checkbox>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue } from 'vue-property-decorator';

    @Component
    export default class GroupCheckBox extends Vue {
        public selected: boolean = false;
        @Prop({required: false, type: String, default: ''}) readonly id?: string;
        @Prop({required: false, type: String, default: ''}) readonly name?: string;

        created(){
                    this.$emit('change', this.id, this.selected)
                }
    }

</script>

<style scoped>

</style>
