<template>
    <div>
        <label v-if="name"
               :for="id">
            {{ name }}:
        </label>
        <b-skeleton-wrapper :loading="is_loading">
            <template v-slot:loading>
                <b-skeleton type="input"></b-skeleton>
            </template>
            <Datepicker :id="id"
                        v-model="chooseDate"
                        :language="locale_selected"
                        class="form-group"
                        :input-class="`form-control input-bg-${theme}`"
                        :class="`datepicker-${theme}`"
                        :minimum-view="minimum_view"
                        :name="id"
                        :disabled="disabled"
                        :disabledDates="disabledDatesForComponent"
                        :highlighted="highlightedFromComponent"
                        :format="format"
                        @input="EmitSelectedDate"/>
        </b-skeleton-wrapper>
    </div>
</template>

<script lang="ts">
    import axios from 'axios'
    import Cookies from 'js-cookie';
    import moment from "moment"

    import {Component, Prop, Watch, Vue } from 'vue-property-decorator';
    import Datepicker from 'vuejs-datepicker';
    import ru from 'vuejs-datepicker/dist/locale/translations/ru.js';
    import en from 'vuejs-datepicker/dist/locale/translations/en.js';
    import uk from 'vuejs-datepicker/dist/locale/translations/uk.js';
    import { FilterCustomOptions } from '@/interfaces';

    @Component({
        components:{
            Datepicker,
        }
    })
    export default class InputDatepicker extends Vue {
        public chooseDate: any = null;
        public disabledDatesForComponent: any = {};
        public highlightedFromComponent: any = {};
        public is_loading: boolean = false;
        public locale: string = 'ua';
        public locale_selected: any | string = 'ua';
        public theme: string = 'light';

        public ru: any = ru;
        public en: any = en;
        public uk: any = uk;


        @Prop({required: false, type: String, default: ''}) readonly url?: string;
        @Prop({required: false,  type: String, default: ''}) readonly id?: string;
        @Prop({required: false, type: String, default: ''}) readonly name?: string;
        @Prop({required: false, type: Date, default: null}) readonly date?: Date;
        @Prop({required: false, type: Boolean, default: false}) readonly disabled?: boolean;
        @Prop({required: false, type: Object, default: ()=>{}}) readonly disabled_dates?: any;
        @Prop({required: false, type: Object, default: ()=>{}}) readonly highlighted_dates?: object;
        @Prop({required: false, type: String, default: ''}) readonly depends_from?: string;
        @Prop({required: false, type: (String || Function), default:  'dd MMM yyyy'}) readonly format?: string;
        @Prop({required: false, type: String , default:  'day'}) readonly minimum_view?: string;
        @Prop({required: false, type: Boolean, default: false}) readonly need_all?: boolean;
        @Prop({required: false, type: Boolean, default: false}) readonly multiple?: boolean;
        @Prop({required: false, type: Object, default: ()=>{}}) readonly update_dependency?: object;
        @Prop({required: false, type: Array, default: ()=>[]}) readonly options?: Array<FilterCustomOptions>;
        @Prop({required: false, type: String, default: 'end'}) readonly default_date_period?: string;


        @Watch('highlighted_dates', {
            deep: true
        })
        update_dependencyChanged(newVal: any) {
            let arr = [];
            if(newVal['dates'] && newVal['dates'].length) {
                arr = newVal['dates'].map((item: any) => new Date(item));
            }
            for (let highlightedKey in newVal) {
                this.highlightedFromComponent[highlightedKey] = newVal[highlightedKey];
            }
            this.highlightedFromComponent['dates'] = arr;
        }
        created(){
            this.locale = Cookies.get('locale') || 'ua';
            this.theme = Cookies.get('theme') || 'light';

            if(this.locale === "ua"){
                this.locale_selected = this.uk
            }
            else{
                switch (this.locale){
                    case 'ru':  this.locale_selected = this.ru; break;
                    case 'en':  this.locale_selected = this.en; break;
                    default : this.locale_selected = this.uk; break;
                }
            }
            //Получаем периоды с бека если есть урл и сетим даты
            if(this.url && this.url.length){
                this.getOptions()
            }
            //если переданы уже опции то сетим даты
            else if(this.options && this.options.length){
                this.CreateDisabledDates(this.options)
            }
            else {
                for (let disabledKey in this.disabled_dates) {
                    this.disabledDatesForComponent[disabledKey] = this.disabled_dates[disabledKey];
                }
                this.chooseDate = this.date;
                this.EmitSelectedDate()
            }

        }
        async getOptions(){
                this.is_loading = true;
                const {data} =  await axios.get( this.url + '');
                data.length ? this.CreateDisabledDates(data) : this.$emit('ERROR');
                this.is_loading = false;
            }

           private CreateDisabledDates(options: any) :void{

                //Сортируем от начала периода до конца
                let moments = options.map((d: any) => moment(d.attr_value)),
                    minDate = moment.min(moments).startOf('month').toDate(),
                    maxDate = moment.max(moments).endOf('month').toDate()
                //Дисэйблим все даты до начал нашего периода и после
                Vue.set(this.disabledDatesForComponent , 'to' ,minDate);
                Vue.set(this.disabledDatesForComponent , 'from' , maxDate);
                this.chooseDate = moment(this.default_date_period === 'end'?  maxDate : minDate).startOf('month').toDate() ;
                this.EmitSelectedDate()
            }
           public EmitSelectedDate(){
                this.$emit('change', this.id, moment(this.chooseDate).format('YYYY-MM-DD'))
            }


    }
</script>

<style>
    .datepicker-dark {

    }
    .datepicker-dark {

    }
</style>
