<script lang="ts">
import Vue from 'vue';
import { Vue_reusable_componentsSample } from '@/entry';
import { UniversalFilter } from '@/entry';

interface SampleData {
  selects_arr: Array<SelectObj>;
  date_search_options: Array<Options>;
  calc_btn_name: string;
  filter_key: number;

}
interface SelectObj {
  id: string;
  name: string;
  type?: string;
  url?: string;
  options?: Array<Options>;
  class?: string;
  multiple?: boolean;
  need_all?: boolean;
  depends_from?: string;
  minimum_view?: string;
  is_group?: boolean;
}

interface Options  {
  attr_value: string | number;
  attr_text: string;
}



export default Vue.extend({
  name: 'ServeDev',
  data(): SampleData {
    return {
      filter_key: 0,
      calc_btn_name:  "<span> $t('Calculate') </span><fa icon='sync'></fa>",
      date_search_options:[
        { attr_value: 'created_at', attr_text: 'Creation' },
        { attr_value: 'time_add', attr_text: 'Time add' },
        { attr_value: 'date_coach', attr_text: 'Date coach' },
      ],

      selects_arr:  []
    };
  },
  created(){
    this.selects_arr = [
      {id:'date_start', type:'date', name: 'date_start catsign',  need_all:true, multiple: true, },
      {id:'cat_sign_repeats', name: 'Repeated catsign',  url: '/tools/targeted-trainings/get-filters-cat-sign-repeats', need_all:true,multiple: true, },
      {id:'locations', name: 'Location',  url: '/tools/targeted-trainings/get-filters-locations', is_group: true, need_all:true, multiple: true,  },
      {id:'date_search',   name: 'Date search', type:'radio', options: this.date_search_options , class: 'col-8',},

    ]
  },
  methods: {
    clearFilter(): void {
     console.log('clearFilter')
    },
    getExcel(): void {
     console.log('getExcel')
    },
    getTable(sd: any): void {
     console.log('getTable');
     console.log(sd)
    },
    addNewRow(): void {
     console.log('addNewRow')
    },
  },
  components: {
    Vue_reusable_componentsSample,
    UniversalFilter
  }
});
</script>

<template>
  <div id="app">
    <UniversalFilter
            :key="filter_key"
            :has_clear="true"
            :has_download="true"
            :calc_btn_name="calc_btn_name"
            :selects_arr="selects_arr"
            ref="filter_select"
            @clearFilter="clearFilter"
            @download="getExcel"
            @sendForm="getTable" >
      <div slot='buttons' >
        <div class="mt-4">
          <b-button
                  variant="info"
                  block
                  type="button"
                  @click="addNewRow">
           </b-button>
        </div>
      </div>
      <template slot="calc_btn_slot">
          <span>dcd </span><fa icon='sync'></fa>
      </template>
    </UniversalFilter>
  </div>
</template>
