<template>
    <div class="card">
        <div class="card-body"
             :class="card_body_class">
            <form @submit.prevent="$emit('sendForm' , filter)">
                <div class="row ">
                    <div :class="content_class">
                        <div class="row">
                            <div v-for="(item, index) in selects_array"
                                 :class="checkColInWrapperClass(item.class)"
                                 class="d-flex">
                                <div class="flex-grow-1">
                                    <InputDatepicker
                                            v-if="item.type && item.type === 'date'"
                                            :key="index"
                                            :name="item.name"
                                            :url="item.url"
                                            :options="item.options"
                                            :wrapperClass="item.wrapperClass"
                                            :id="item.id"
                                            :label_text="item.name"
                                            :minimum_view="item.min_view"
                                            :format="item.min_view === 'month' ? 'MMM yyyy' : item.format"
                                            :date="createCurrDate(item.min_view , item.id)"
                                            @change="(id, selected) => setFilter(id, selected) ">
                                    </InputDatepicker>
                                    <DynamicInput
                                            v-else-if="item.type && item.type === 'input'"
                                            :key="index"
                                            :id="item.id"
                                            :name="item.name"
                                            @change="(id, selected) => setFilter(id, selected) "
                                    ></DynamicInput>
                                    <DynamicRadio
                                            v-else-if="item.type && item.type === 'radio'"
                                            :key="index"
                                            :url="item.url"
                                            :id="item.id"
                                            :name="item.name"
                                            :options="item.options"
                                            :need_all="item.need_all"
                                            :depends_from="item.depends_from"
                                            :multiple="item.multiple"
                                            :update_dependency="update_dependency"
                                            @change="(id, selected) => setFilter(id, selected) "
                                    ></DynamicRadio>
                                    <DynamicSelect
                                            v-else
                                            :key="index"
                                            :url="item.url"
                                            :id="item.id"
                                            :name="item.name"
                                            :options="item.options"
                                            :need_all="item.need_all"
                                            :depends_from="item.depends_from"
                                            :multiple="item.multiple"
                                            :update_dependency="update_dependency"
                                            @change="(id, selected) => setFilter(id, selected) "
                                    ></DynamicSelect>
                                </div>
                                <div v-if="item.is_group" class="align-self-end mb-3 ml-2">
                                    <GroupCheckBox
                                            :id="`group_${item.id}`"
                                            :key="index"
                                            @change="(id, selected) => setFilter(id, selected) ">
                                    </GroupCheckBox>
                                 </div>
                            </div>
                            <slot name='elements'/>
                        </div>
                    </div>
                    <div :class="buttons_class">
                        <div class=" mb-2">
                            <b-button variant="success"
                                      v-if="has_calculate"
                                      block
                                      type="submit">

                               <slot v-if="hasSlot('calc_btn_slot')" name='calc_btn_slot'/>
                               <span v-else >{{calc_btn_name}}</span>
                            </b-button>
                        </div>
                        <div class="mb-2">
                            <b-button v-if="has_download"
                                      variant="primary"
                                      type="button"
                                      block
                                      @click="$emit('download' , filter)">
                                <slot v-if="hasSlot('download_btn_slot')" name='download_btn_slot'/>
                                <span v-else >{{download_btn_name}}</span>
                            </b-button>
                        </div>

                        <div class="mb-2">
                            <b-button v-if="has_clear"
                                      variant="warning"
                                      type="button"
                                      block
                                      @click="$emit('clearFilter')">
                                <slot v-if="hasSlot('clear_btn_slot')" name='clear_btn_slot'/>
                                <span v-else >{{clear_btn_name}}</span>
                            </b-button>
                        </div>
                        <slot name='buttons'/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script lang="ts">
    import vSelect from 'vue-select';
    import moment from "moment"

    import BootstrapVue from 'bootstrap-vue';
    import 'bootstrap-vue/dist/bootstrap-vue.css'
    import 'bootstrap/dist/css/bootstrap.css'
    import 'vue-select/dist/vue-select.css';

    import DynamicSelect from '../universal_filter/DynamicSelect.vue';
    import InputDatepicker from '../universal_filter/InputDatepicker.vue';
    import DynamicInput from '../universal_filter/DynamicInput.vue';
    import DynamicRadio from '../universal_filter/DynamicRadio.vue';
    import GroupCheckBox from '../universal_filter/GroupCheckBox.vue';

    import { FilterSelectObj } from '@/interfaces';

    import { Component, Prop, Vue } from 'vue-property-decorator';

    Vue.use(BootstrapVue);
    Vue.component('v-select', vSelect);

    @Component({
        components:{
            DynamicSelect,
            InputDatepicker,
            DynamicRadio,
            DynamicInput,
            GroupCheckBox
        }
    })

    export default class UniversalFilter extends Vue {

        public filter: any = {};
        private update_dependency: object = {};
        public selects_array :  Array<FilterSelectObj> = [];

        @Prop({required: false, type: Boolean, default: false}) readonly has_download?: Boolean;
        @Prop({required: false, type: Boolean, default: false}) readonly has_clear?: Boolean;
        @Prop({required: false, type: Boolean, default: true}) readonly has_calculate?: Boolean;
        @Prop({required: false, type: String, default: 'id'}) readonly id?: String;
        @Prop({required: false, type: String, default: ''}) readonly card_body_class?: String;
        @Prop({required: false, type: Array, default: [] }) readonly selects_arr?: Array<FilterSelectObj>;
        @Prop({required: false, type: String, default: 'Calculate' }) readonly calc_btn_name?: String;
        @Prop({required: false, type: String, default: 'Download to Excel' }) readonly download_btn_name?: String;
        @Prop({required: false, type: String, default: 'Clear filters' }) readonly clear_btn_name?: String;
        @Prop({required: false, type: String, default: 'col-9 col-xl-10' }) readonly content_class?: String;
        @Prop({required: false, type: String, default: 'col-3 col-xl-2 text-center align-self-center ' }) readonly buttons_class?: String;

        public createCurrDate(min_view: string, id: string): Date{
            if(min_view === 'month'){
                // return moment.Moment.startOf('month').toDate();
            }
            if(id === 'date_start'){
                console.log(moment(new Date).format("MMM Do YYYY"));

                return new Date( (new Date().setDate((new Date()).getDate() - 7 )))
            }
            return new Date()

        }
        public checkColInWrapperClass(wrapperClass: string) : String{
            if(wrapperClass && wrapperClass.includes(`col-`)) {
                return wrapperClass;
            }
            return wrapperClass ? `col-4 ${wrapperClass}` : 'col-4';
        }
        public setFilter(id:string, val: any) :void{
                        this.filter[id] =  val;
                        this.updateDependency(id, val)
                    }
    public hasSlot (name :string = 'default') :boolean{
        return !!this.$slots[ name ] || !!this.$scopedSlots[ name ];
    }
        public updateDependency(id:string, val: any){
                        // при выборе селекта ищем кто подписан на обновления. фильтруем только те, что ожидают обновления текущего селекта. получаем айдишку
                        let depends_arr = this.selects_array.filter(item=>item.depends_from === id).map(itm=>itm.id);
                        if(depends_arr && depends_arr.length){
                            Vue.set(this.update_dependency, 'ids_arr',  depends_arr);
                            Vue.set(this.update_dependency, 'val',  val);
                        }
                    }
        created(){
            this.selects_array =  JSON.parse(JSON.stringify(this.selects_arr));
        }
    }

</script>
<style>

</style>


